body {
  font-family: "Verdana", sans-serif;
}

button {
  font-family: "Verdana", sans-serif;
}

.tabcontent {
  display: none;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 60%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table,
th,
td {
  border: 1px solid black;
}

td,
th {
  padding: 5px 10px;
}
.testPackItems,
.testSteps {
  display: none;
}

.panel {
  background-color: white;
  display: none;
}

.active {
  display: block;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.heading > button {
  align-self: center;
}

.allTestsStepOverview {
  display: flex;
  flex-direction: column;
}

.testTitle {
  font-size: 1.4rem;
  font-weight: bold;
}

.accordion {
  border: #298465;
  border-width: 0.2rem;
  border-style: solid;
  padding: 1rem;
  margin-top: 0.2rem;
}
